body {
    font-family: "Raleway", sans-serif;
    margin: 2rem;
    width: 100%;
    @media screen (min-width: 1000px);
    /*color: #202020;*/
}
* {
    font-family: "Raleway", sans-serif;
}

/*HEADER*/
.rs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rs-header_nav {
    display: flex;
    list-style-type: none;
}
.rs-header-nav_items {
    margin: 0 3rem;
    font-size: 1rem;
}

.rs-header-nav_links {
    text-decoration: none;
    color: #202020;
}

.rs-header-nav_links:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
    padding-top: 15px;
}
.inscription {
    color: #0065fc;
    font-weight: bold;
    margin-right: inherit;
}

/*OPTIONS RECHERCHE*/
.rs-searchbox {
    margin-bottom: 1rem;
}
.research_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
.research_description {
    font-size: 0.8rem;
}

.research_bar {
    display: flex;
    height: 3rem;
    border: transparent 1px solid;
    width: 25rem;
    margin: 20px 0 20px 0;
}

.research-bar_iconbox {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.fa-map-marker-alt {
    font-size: 1rem;
}
.research-bar_citybox {
    width: 60%;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
}
::placeholder {
    color: inherit;
    font-weight: bold;
    font-size: 1rem;
}

.research-bar_button {
    width: 30%;
    background-color: #0065fc;
    color: #fff;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    font-size: 1rem;
}

/* FILTRES*/

.search-options_box {
    list-style-type: none;
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0;
}
.search-filters_box {
    height: inherit;
    margin-right: 3rem;
    display: flex;
    align-items: center;
}
.search_filters {
    border: 1px solid #deebff;
    border-radius: 25px;
}
.search_filters:hover i {
    background-color: #0065fc;
    color: #fff;
}
.search_filters:hover h2 {
    color: #0065fc;
}
.search_filters:hover {
    background-color: #deebff;
}

.search_filtername {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
}
.filtertitle {
    padding: 0;
}
.search_icone {
    background-color: #deebff;
    height: inherit;
    width: 3rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    font-size: 1rem;
}

.search_information {
    display: flex;
    align-items: center;
}
.information_icone {
    margin-right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #f2f2f2;
    font-size: 0.8rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

/*SECTION 1 HEBERGEMENTS*/

.rs-hosting {
    display: flex;
    justify-content: space-between;
}
.rs-hosting_box {
    background-color: #f2f2f2;
    border-radius: 20px;
}
.citybox {
    width: 60%;
    margin-right: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr 2rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.hostingboxtitle {
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    align-items: center;
}
.city-cardcontent {
    margin: 0.4rem;
}

.city-cardpict {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.city-carddescription-content {
    margin-left: 1rem;
}
.city-carddescription {
    margin: 0.3rem;
}

.hosting-boxfoot {
    font-size: 0.8rem;
    font-weight: normal;
    grid-row: 4/5;
    grid-column: 1/4;
    display: flex;
    align-items: center;
}
/*COMMUN AUX DEUX */

.hosting-carddescription {
    margin: 0.3rem;
}

.bluestar {
    color: #0065fc;
}
.greystar {
    color: #f2f2f2;
}
/*COMMUN AUX TROIS */
.boxtitle {
    font-weight: bold;
    font-size: 1rem;
}
.boxcard {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    overflow: hidden;
}
.cardname {
    font-weight: bold;
}
.cardlink {
    color: inherit;
    text-decoration: none;
}
/* */

/*aside*/

.popbox {
    width: 33%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    row-gap: 2rem;
}
.popboxtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.pop-cardcontent {
    margin: 0.4rem;
    display: flex;
    height: 9.4rem;
}
.pop-cardpict {
    width: 10rem;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.pop-carddescription-content {
    margin-left: 1rem;
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.pop-carddescription {
    margin: 0.3rem;
}

/*SECTION 2 ACTIVITIES*/
.rs-activities {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4rem 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
}
.actboxtitle {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.actcard1 {
    grid-column: 1;
    grid-row: 2/7;
}
.actcard2 {
    grid-column: 2;
    grid-row: 2/5;
}
.actcard3 {
    grid-column: 2/3;
    grid-row: 6/7;
}
.actcard4 {
    grid-column: 3;
    grid-row: 2/7;
}
.actcard5 {
    grid-column: 4;
    grid-row: 2/3;
}
.actcard6 {
    grid-column: 4;
    grid-row: 4/7;
}
.act-cardcontent {
    margin: 0;
    height: 100%;
    position: relative;
}
.act-cardpict {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.act-carddescription {
    background-color: #fff;
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

/*FOOTER*/
.rs-footer {
    display: flex;
    background-color: #f2f2f2;
    margin: 2rem -50px -50px -50px;
    padding-left: 50px;
    justify-content: space-between;
    height: 12rem;
}

.rs-footer_box {
    width: 30%;
    height: 60%;
    margin: auto;
}
.rs-footer_titles {
    font-size: 1rem;
}

.rs-footer_items {
    font-size: 0.8rem;
}
