/*DESKTOP*/

@media screen and (min-width: 1101px) {
    body {
        margin: 3rem;
    }

    /*header*/
    .rs-header {
        justify-content: space-between;
        align-items: center;
    }
    .inscription-mobile {
        display: none;
    }
    .rs-header-nav_items {
        margin: 0 3rem;
    }
    .rs-header-nav_links:hover {
        border-top: 1px solid #0065fc;
        padding-top: 3rem;
    }
    /*section1*/
    .research_bar {
        width: 50%;
    }

    .research-bar_citybox {
        border: 1px solid #f2f2f2;
    }

    .research-bar_button {
        width: 7rem;
    }
    .research-bar_button_mobile {
        display: none;
    }
    /*filtres*/
    .search-options_box {
        height: 3rem;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    /*SECTION 2 HEBERGEMENTS*/
    .rs-hosting_box {
        background-color: #f2f2f2;
        border-radius: 2rem;
    }
    .hostingboxtitle {
        grid-row: 1;
        grid-column: 1/4;
    }
    .citybox {
        width: 60%;
        margin-right: 2rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2rem 1fr 1fr 2rem;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
    .city-cardcontent {
        margin: 0.4rem;
    }

    .city-cardpict {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }
    .city-carddescription-content {
        padding-left: 2%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
    .hosting-carddescription {
        margin: 2%;
    }

    /*aside*/

    .popbox {
        width: 30%;
        display: flex;
        flex-flow: column wrap;
        padding: 2rem;
        background-color: #f2f2f2;
        justify-content: center;
    }
    .boxcard {
        margin-bottom: 1rem;
    }
    .popboxcard {
        height: 25%;
        margin: auto;
        padding: 0.4rem;
    }
    .popboxtitle {
        margin-bottom: 1rem;
    }
    .pop-cardcontent {
        margin: auto;
        display: flex;
        height: 100%;
    }
    .pop-cardpict {
        width: 40%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 0 0 2rem;
    }
    .pop-carddescription-content {
        margin-left: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }

    .pop-carddescription {
        margin: 0.3%;
    }
    /*SECTION 2 ACTIVITIES*/
    .rs-activities {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 4rem 14rem 2rem 2rem 2rem 14rem;
        column-gap: 2rem;
    }
    .actboxtitle {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .actcard1 {
        grid-column: 1;
        grid-row: 2/7;
    }
    .actcard2 {
        grid-column: 2;
        grid-row: 2/5;
    }
    .actcard3 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .actcard4 {
        grid-column: 3;
        grid-row: 2/7;
    }
    .actcard5 {
        grid-column: 4;
        grid-row: 2/3;
    }
    .actcard6 {
        grid-column: 4;
        grid-row: 4/7;
    }
    .act-carddescription {
        padding-left: 5%;
        box-sizing: border-box;
    }
    /*FOOTER*/
    .rs-footer {
        display: flex;
        background-color: #f2f2f2;
        margin: 2rem -3rem -3rem -3rem;
        padding-left: 3rem;
        justify-content: space-between;
        height: 12rem;
    }

    .rs-footer_box {
        width: 30%;
        height: 60%;
        margin: auto;
    }
}
/*TABLETTE*/
@media screen and (min-width: 481px) and (max-width: 1100px) {
    body {
        margin: 2rem;
    }
    /*HEADER*/
    .rs-header {
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    .inscription-mobile {
        display: none;
    }
    .rs-header_nav {
        width: 100%;
        justify-content: space-evenly;
        padding: 0;
    }
    .rs-header-nav_items {
        width: 33%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rs-header-nav_links:hover {
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #0065fc;
    }
    /*section1*/

    .research-bar_button_mobile {
        display: none;
    }
    .research_bar {
        width: 70%;
    }

    .research-bar_citybox {
        border: 1px solid #f2f2f2;
    }
    .research-bar_button {
        width: 7rem;
    }
    /*filtres*/
    .search-options_box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .search-filters_box {
        margin-bottom: 1rem;
    }

    /*SECTION 2 HEBERGEMENTS*/
    .rs-hosting {
        flex-flow: column wrap;
        width: 100%;
    }
    .rs-hosting_box {
        box-sizing: border-box;
        border-radius: 2rem;
    }
    .citybox {
        width: 100%;
        order: 2;
        background-color: #fff;
        justify-content: space-evenly;
        display: flex;
        flex-flow: row wrap;
    }
    .hostingboxtitle {
        width: 100%;
        margin-top: 1rem;
    }
    .cityboxcard {
        width: 15rem;
        margin: 1rem;
    }
    .city-cardcontent {
        margin: 0.4rem;
    }

    .city-cardpict {
        width: 100%;
        height: 8rem;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }

    .city-carddescription-content {
        padding-left: 2%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
    .hosting-carddescription {
        margin: 2%;
    }
    .hosting-boxfoot {
        width: 100%;
    }
    /*aside*/

    .popbox {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        padding: 1rem;
        background-color: #f2f2f2;
        justify-content: center;
    }
    .boxcard {
        margin-bottom: 1rem;
    }

    .popboxcard {
        height: 10rem;
        margin: 1rem;
        padding: 0.4rem;
    }
    .popboxtitle {
        margin: 1rem;
    }
    .pop-cardcontent {
        margin: auto;
        display: flex;
        height: 100%;
    }
    .pop-cardpict {
        width: 40%;
        height: 10rem;
        object-fit: cover;
        border-radius: 2rem 0 0 2rem;
    }
    .pop-carddescription-content {
        margin-left: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }

    .pop-carddescription {
        margin: 0.3%;
    }
    /*SECTION 2 ACTIVITIES*/

    .rs-activities {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2rem 1fr;
        grid-template-rows: 2rem 14rem 14rem 14rem 14rem;
        row-gap: 2rem;
    }
    .actboxtitle {
        grid-column: 1/5;
        grid-row: 1;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .actcard1 {
        grid-column: 1;
        grid-row: 2/4;
    }
    .actcard2 {
        grid-column: 3;
        grid-row: 2/3;
    }
    .actcard3 {
        grid-column: 3;
        grid-row: 3/4;
    }
    .actcard4 {
        grid-column: 1;
        grid-row: 4/5;
    }
    .actcard5 {
        grid-column: 1;
        grid-row: 5/6;
    }
    .actcard6 {
        grid-column: 3;
        grid-row: 4/6;
    }
    .act-carddescription {
        padding-left: 3%;
    }
    /*FOOTER*/

    .rs-footer {
        display: flex;
        flex-flow: row wrap;
        background-color: #f2f2f2;
        padding-left: 3rem;
        justify-content: space-between;
        height: 12rem;
        margin: 0 -2rem -2rem -2rem;
    }

    .rs-footer_box {
        width: 30%;
        margin: auto;
    }
}
/*MOBILE*/
@media screen and (max-device-width: 480px) {
    body {
        margin: 1rem;
    }
    /*HEADER*/
    .rs-header {
        flex-flow: column wrap;
    }
    .inscription {
        display: none;
    }
    .rs-mobile_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inscription-mobile {
        color: #0065fc;
        font-weight: bold;
        font-size: 1rem;
    }
    .rs-header_nav {
        margin: auto;
        width: 100%;
        padding: 0;
    }
    .rs-header-nav_items_mobile {
        width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rs-header-nav_links:hover {
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #0065fc;
    }
    /*section1*/
    .rs-searchbox {
        margin: 0 2%;
    }
    .research_bar {
        width: 100%;
        padding: 0;
    }
    .research-bar_citybox {
        border-top: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        border-right: 1px solid transparent;
    }
    .research-bar_button {
        display: none;
    }
    .research-bar_button_mobile {
        width: 3rem;
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #f2f2f2;
        border-top-right-radius: 1rem;
        border-bottom: 1px solid #f2f2f2;
        border-bottom-right-radius: 1rem;
    }
    .search-icone-mobile {
        border-radius: 1rem;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065fc;
    }
    /*filtres*/
    .search-options_box {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search_filters {
        margin-bottom: 1rem;
    }
    .filtertitle {
        width: 15rem;
    }
    .search_filters:active .search_icone {
        background-color: #0065fc;
        color: #fff;
    }
    .search_filters:active .search_filtername {
        color: #0065fc;
    }
    .search_filters:active {
        background-color: #deebff;
    }
    /*SECTION 2 HEBERGEMENTS*/
    .rs-hosting {
        flex-flow: column wrap;
        width: 100%;
    }
    .rs-hosting_box {
        width: 100%;
        box-sizing: border-box;
    }
    .citybox {
        display: flex;
        order: 2;
        flex-flow: column wrap;
    }
    .cityboxcard {
        height: 13rem;
        box-sizing: border-box;
    }
    .city-cardcontent {
        margin: 0.4rem;
    }

    .city-cardpict {
        width: 100%;
        height: 8rem;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }
    .city-carddescription-content {
        margin-left: 5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
    .city-carddescription {
        margin: 0.3rem;
    }
    /*aside*/
    .popbox {
        width: 110%;
        display: flex;
        flex-flow: column wrap;
        background-color: #f2f2f2;
        justify-content: center;
        padding: 0 2rem;
        margin-left: -1rem;
    }
    .boxcard {
        margin-bottom: 2rem;
    }

    .popboxcard {
        height: 10rem;

        padding: 0.4rem;
        box-sizing: border-box;
    }
    .popboxtitle {
        margin: 1rem 0;
    }
    .pop-cardcontent {
        margin: auto;
        display: flex;
        height: 100%;
    }
    .pop-cardpict {
        width: 40%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 0 0 2rem;
    }
    .pop-carddescription-content {
        margin-left: 5%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
    }
    .hosting-carddescription {
        margin: 0;
    }

    /*section3 activities*/
    .rs-activities {
        display: flex;
        flex-flow: column wrap;
    }
    .actcard {
        height: 14rem;
    }
    .act-carddescription {
        padding-left: 3%;
    }
    /*footer*/
    .rs-footer {
        flex-flow: column wrap;
        margin: -1rem;
    }
    .rs-footer_box {
        margin-left: 15%;
    }
}
/*ALL*/
body {
    font-family: "Raleway", sans-serif;
    color: #202020;
    font-size: 15px;
}

/*header*/
.rs-header {
    display: flex;
}

.rs-header_nav {
    display: flex;
    list-style-type: none;
}

.rs-header-nav_links {
    text-decoration: none;
    color: #202020;
}
.rs-header-nav_links:hover {
    color: #0065fc;
}

.inscription {
    color: #0065fc;
    font-weight: bold;
    margin-right: inherit;
}

/*section1 search*/
.rs-searchbox {
    margin-bottom: 1rem;
}
.search_title {
    font-size: 1.5rem;
    font-weight: bold;
}

.research_bar {
    display: flex;
    height: 3rem;
}

.research-bar_iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1rem 0px 0px 1rem;
    width: 3rem;
}
.research-bar_citybox {
    padding-left: 1rem;
    width: 60%;
}
.research-bar_button {
    background-color: #0065fc;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0 1rem 1rem 0;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

::placeholder {
    color: inherit;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

/* filtres*/

.search-options_box {
    list-style-type: none;
    display: flex;
    padding: 0;
    height: auto;
    margin-bottom: 0;
    margin-top: 1rem;
}
.search-filters_box {
    display: flex;
    align-items: center;
    height: 3rem;
}
.search_filters {
    border: 1px solid #deebff;
    border-radius: 3rem;
}
.search_filters:hover .search_icone {
    background-color: #0065fc;
    color: #fff;
}
.search_filters:hover .search_filtername {
    color: #0065fc;
}
.search_filters:hover {
    background-color: #deebff;
}

.search_filtername {
    font-size: 1rem;
    font-weight: bold;
}
.cbg {
    padding: 1rem;
}
.filtertitle {
    padding: 0;
}
.search_icone {
    background-color: #deebff;
    height: inherit;
    width: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

.search_information {
    display: flex;
    align-items: center;
}
.information_icone {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid #f2f2f2;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

/*SECTION 2 HEBERGEMENTS*/

.rs-hosting {
    display: flex;
}

.hosting-boxfoot {
    font-size: 0.8rem;
    font-weight: normal;
    display: flex;
    align-items: center;
}
/*commun section 1 hosting et pop*/

.bluestar {
    color: #0065fc;
}
.greystar {
    color: #f2f2f2;
}
/*commun section 2 et 3*/
.boxtitle {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.boxcard {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    overflow: hidden;
}
.cardname {
    font-weight: bold;
}
.cardlink {
    color: inherit;
    text-decoration: none;
}

/*aside*/

.popboxtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

/*SECTION 2 ACTIVITIES*/

.act-cardcontent {
    margin: 0;
    height: 100%;
    position: relative;
}
.act-cardpict {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.act-carddescription {
    background-color: #fff;
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

/*FOOTER*/
.rs-footer {
    display: flex;
    background-color: #f2f2f2;
}

.rs-footer_titles {
    font-size: 1rem;
}

.rs-footer_items {
    font-size: 0.8rem;
}
