body {
    font-family: "Raleway", sans-serif;
    @media screen and (min-width: 992px);
    margin: 20px 50px 20px 50px;
    border: 1px solid black;
    /*color: #202020;*/
}
* {
    font-family: "Raleway", sans-serif;
}

/*HEADER*/
.rs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rs-header_nav {
    display: flex;
    list-style-type: none;
}
.rs-header-nav_items {
    margin: 0px 30px;
}

.rs-header-nav_links {
    text-decoration: none;
    color: #202020;
}

.rs-header-nav_links:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
    padding-top: 15px;
}
.inscription {
    color: #0065fc;
    font-weight: bold;
}

/*OPTIONS RECHERCHE*/
.research_title {
    font-size: 1.5em;
    font-weight: bold;
}
.research_description {
    font-size: 0.8em;
}

.research_bar {
    display: flex;
    height: 35px;
    border: transparent 1px solid;
    width: 30%;
}

.research-bar_iconbox {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

.fa-map-marker-alt {
    font-size: 0.8em;
}
.research-bar_citybox {
    width: 60%;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
}
::placeholder {
    color: inherit;
    font-weight: bold;
}

.research-bar_button {
    width: 30%;
    background-color: #0065fc;
    color: #fff;
    border: 1px solid #0065fc;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}

/* RESEARCH OPTIONS*/
.research-options_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    margin-top: 15px;
}

.research-options_title {
    font-size: 0.8em;
    font-weight: bold;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.research-options_boxfilters {
    display: flex;
    /* width: 60%;*/
    height: 35px;
    padding-left: 0px;
}

.research-options_filters {
    display: flex;
    border: 1px solid #f2f2f2;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin-left: 15px;
}

.research-options_filters:hover {
    background-color: #deebff;
    border: 1px solid #deebff;
    color: #0065fc;
}

.research-options_filters i {
    background-color: #deebff;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    font-size: 0.8em;
}

.research-options_filtersnames {
    font-weight: bolder;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 20px;
}

.research-options_information {
    display: flex;
    align-items: center;
}

.research-options_information i {
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    font-size: 0.6em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    margin-right: 10px;
}

/*SECTION 1 HEBERGEMENTS*/

.rs-hosting {
    display: flex;
    justify-content: space-between;
}
.rs-hosting_box {
    background-color: #f2f2f2;
    border-radius: 20px;
}
.citybox {
    width: 65%;
    padding: 0 30px 0 30px;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
}
.boxtitle {
    height: 10%;
    font-size: 1em;
    font-weight: bold;
}

.hosting-city_boxcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.citycard {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
}
.city-cardcontent {
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.cardlink {
    color: inherit;
    text-decoration: none;
}
.city-cardpict {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.cardname {
    font-size: 1rem;
    font-weight: bold;
}
.city-carddescription {
    margin: 5px;
}
.cardprice {
    font-size: 0.8rem;
}
.hosting-boxfoot {
    height: 10%;
    font-size: 0.7em;
}

.cardrates {
    color: #0065fc;
}
.stargrey {
    color: palevioletred;
}
.popbox {
    width: 33%;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    justify-content: space-between;
}
.popboxtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.hosting-pop_boxcard {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    box-sizing: border-box;
}
.popcard {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
}
.pop-cardcontent {
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.pop-carddesciption_box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.poprate {
}
.pop-cardpict {
    width: 40%;
    height: 8rem;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
